default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  username: <%= ENV.fetch("DB_USER", "root") %>
  password: <%= ENV.fetch("DB_PASSWORD", "") %>
  host: <%= ENV.fetch("DB_HOST", "127.0.0.1") %>

development:
  <<: *default
  database: docnew_development

test:
  <<: *default
  database: docnew_test

production:
  <<: *default
  database: <%= ENV.fetch("DB_NAME", "docnew_production") %>
